@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

* {
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.2s;
    border-bottom: 1px solid #dedede;
}

.navbar-brand img {
    width: 105px;
}

.line:hover {
    border-radius: 4px;
    background-color: #f2f2f2;
    transition: all 0.2s ease;
}

.nav-scroll {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.08);
}

.dropdown-divider {
    margin: 0;
}

a.dropdown-item:hover {
    background-color: #f2f2f2;
    color: black;
}

a.dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107" !important;
    vertical-align: 0;
}

.nav-item i.bi,
.nav-item i.fa {
    font-size: 14px;
}

.btn-green .btn-login,
.btn-register {
    transition: ease-in-out 0.3s;
}

.btn-login,
.btn-green,
.bg-green {
    background-color: #32854d;
    color: white;
}

.btn-yellow {
    background-color: #f4c158;
    color: white;
}

.btn-green-secondary {
    background-color: #79ba2a;
    color: white;
}

.btn-register {
    border: 1px solid #32854d;
    color: #32854d;
}

.btn-gray {
    background-color: #dedede;
}

.btn-login,
.btn-register {
    padding: 8px 24px;
}

.btn-login:hover,
.btn-green:hover {
    background-color: #216838;
    color: white;
}

.btn-green-secondary:hover {
    background-color: #79ba2a;
    color: white;
}

.btn-register:hover {
    background-color: #32854d;
    color: white;
}

.btn-yellow:hover {
    background-color: #d9a337;
    color: white;
}

.text-green,
.btn-link,
.btn-link:hover {
    color: #32854d;
}

.text-green-secondary {
    color: #79ba2a;
}

.text-yellow {
    color: #f4c158;
}

.btn-green-secondary:hover {
    background-color: #6eaa25;
    color: white;
}

.rounded {
    border-radius: 10px !important;
}

#service-view hr,
#blog-view hr {
    width: 14%;
    height: 4px;
    border-radius: 12px;
    border: 0;
    background: #32854d;
    opacity: 1;
}

footer hr {
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
}

#service-view .card,
#waste-type img {
    transition: 0.2s;
}

#service-view .card:hover,
#waste-type img:hover {
    cursor: pointer;
    transform: translateY(-2.5%);
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
}

.bg-auth {
    background: rgba(50, 133, 77, 0.2);
}

.auth {
    width: 600px;
    border: 1px solid #dedede;
}

a.text-green:hover {
    color: #32854d;
}

i#togglePassword {
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -27.5px;
    margin-right: 12px;
}

.avatar {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 2px solid #79ba2a;
    padding: 2px;
}

.jumbotron .card {
    color: #212529;
    margin-top: 40px;
}

.admin-title {
    font-weight: bold;
    color: black;
}

.table thead {
    color: black !important;
}

.sidebar li.active a {
    color: #32854d !important;
}

.sidebar li.active .nav-link i.bi,
.sidebar li.active .nav-link i.fas {
    color: #32854d;
}

#managed.card {
    width: 600px;
    color: #212529;
}
#managed-blog.card {
    width: 1200px;
    color: #212529;
}

#detail,
#detail input,
#detail textarea,
#detail select,
#detail label {
    color: #212529;
}

#managed input,
#managed-blog input #managed textarea,
#managed-blog textarea,
#managed-blog select #managed select {
    color: #212529;
}

.modal-delete {
    color: black;
}

.bg-gray {
    background-color: #f2f2f2;
}

.page-link {
    color: #32854d;
}

.page-item.active .page-link {
    background-color: #32854d;
    border: #32854d;
}

.detail-sampah {
    width: 450px;
}

.detail-produk {
    width: 300px;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    color: #32854d !important;
}

.partner,
.avatar-update {
    width: 120px;
}

.admin-sampah {
    width: 150px;
}

@media screen and (max-width: 992px) {
    #main-view {
        text-align: center;
    }

    #main-view a {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #service-view hr,
    #blog-view hr {
        width: 24%;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-brand img {
        width: 90px;
    }

    #blog-view .card,
    #managed.card,
    #managed-blog.card .auth,
    .detail-sampah,
    .detail-produk,
    .exchange,
    .admin-sampah,
    .avatar-update {
        width: 100%;
    }

    /* ====================================== */

    .star-rating {
        line-height: 32px;
        font-size: 1.25em;
    }

    .star-rating .fa-star {
        color: yellow;
    }
}
